{% extends "login/base_login.html" %}

{% block content %}
<hr>
<div class="w3-container w3-center w3-margin-bottom">
    <p>Ingresa tu nueva contraseña.</p>
</div>

<form id="resetPasswordForm">
    <p>
        <input id="new_password" class="w3-input w3-border w3-round" type="password" placeholder="Nueva contraseña"
            required>
    </p>
    <p>
        <input id="confirm_password" class="w3-input w3-border w3-round" type="password"
            placeholder="Confirmar contraseña" required>
    </p>

    <p>
        <button
            class="w3-button w3-block w3-white w3-border-blue w3-text-blue w3-round-large w3-hover-blue w3-hover-border-blue w3-hover-text-white"
            type="submit"><strong>Cambiar Contraseña</strong></button>
    </p>
</form>

<div class="w3-center w3-small w3-margin-top">
    <a href="/" class="w3-text-blue">Volver al inicio</a>
</div>

{% endblock %}