<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or 'Login' }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body class="w3-light-grey w3-display-container" style="height:100vh;">
    <div class="w3-display-middle" style="width:100%; max-width:400px;">
        <h2 class="w3-center w3-text-blue"><strong>{{ title }}</strong></h2>
        <div class="w3-card-4 w3-white w3-round-large w3-padding-large">
            <img class="w3-image w3-round-large w3-margin-top" src="{{ url_for('static', path='images/bg-login.jpg') }}"
                alt="">
            <hr>
            <!-- Flash Message -->
            {% if flash_message %}
            <div
                class="w3-panel w3-pale-{{ flash_type or 'red' }} w3-center w3-display-container w3-round w3-card-4 w3-animate-top">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-large w3-display-topright">&times;</span>
                <p>{{ flash_message }}</p>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', path='js/login.js') }}"></script>
    {% endblock %}
</body>

</html>