{% extends "auth/base_login.html" %}

{% set title = 'Recuperar Contraseña' %}

{% block content %}
<hr>
<div id="form-container">
    <p class="w3-center w3-margin-bottom">
        Ingresa tu correo y te enviaremos un enlace para restablecer tu contraseña.
    </p>
    <form id="forgotPasswordForm">
        <p>
            <input id="email" class="w3-input w3-border w3-round" type="email" placeholder="Correo electrónico"
                required>
        </p>

        <p>
            <button
                class="w3-button w3-block w3-white w3-border-blue w3-text-blue w3-round-large w3-hover-blue w3-hover-border-blue w3-hover-text-white"
                type="submit"><strong>Enviar Enlace</strong></button>
        </p>
    </form>
</div>

<div id="success-message" class="w3-panel w3-pale-green w3-center w3-round" style="display: none;">
    <p>Si el correo existe, hemos enviado un enlace. Por favor, revisa tu bandeja de entrada.</p>
</div>

<div class="w3-center w3-small w3-margin-top">
    <a href="{{ url_for('login') }}" class="w3-text-blue">Volver al inicio</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    const form = document.getElementById('forgotPasswordForm');
    const emailInput = document.getElementById('email');
    const formContainer = document.getElementById('form-container');
    const successMessage = document.getElementById('success-message');

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        const response = await fetch("{{ url_for('request_password_reset') }}", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email: emailInput.value })
        });

        if (response.ok) {
            formContainer.style.display = 'none';
            successMessage.style.display = 'block';
        }
    });
</script>
{% endblock %}