{% extends "dashboard/base_dashboard.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="w3-container w3-padding-32">
    <h2 class="w3-xlarge w3-text-blue-grey"><b><i class="fa fa-desktop"></i> {{ title }}</b></h2>

    <div class="w3-card-4 w3-white w3-round-large">
        <div class="w3-container w3-padding-24">
            <div class="w3-row-padding">
                <div class="w3-half w3-margin-bottom">
                    <h5 class="w3-text-grey">Identificador</h5>
                    <p class="w3-text-dark-grey w3-monospace">{{ client.client_identifier }}</p>
                </div>
                <div class="w3-half w3-margin-bottom">
                    <h5 class="w3-text-grey">Dirección IP</h5>
                    <p class="w3-text-dark-grey">{{ client.ip_address }}</p>
                </div>
                <div class="w3-half w3-margin-bottom">
                    <h5 class="w3-text-grey">Fecha de Creación</h5>
                    <p class="w3-text-dark-grey">{{ client.created_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC</p>
                </div>
                <div class="w3-half w3-margin-bottom">
                    <h5 class="w3-text-grey">Estado</h5>
                    <p>
                        {% if client.is_active %}
                        <span class="w3-tag w3-round w3-green">
                            Activo
                        </span>
                        {% else %}
                        <span class="w3-tag w3-round w3-red">
                            Inactivo
                        </span>
                        {% endif %}
                    </p>
                </div>
                <hr class="w3-margin-top w3-margin-bottom">

                <form action="{{ url_for('update_client_description', client_id=client.id) }}" method="post"
                    class="w3-container">
                    <h5 class="w3-text-grey">Actualizar Descripción</h5>
                    <label for="description">Descripción del Dispositivo</label>
                    <input class="w3-input w3-border w3-round w3-margin-bottom" type="text" name="description"
                        id="description" value="{{ client.description or '' }}"
                        placeholder="Ej: Servidor de Producción - Rack 2">

                    <button type="submit" class="w3-button w3-blue w3-round w3-section w3-right">
                        <i class="fa fa-save"></i> Guardar Cambios
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}